# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. 
*    @KrzysztofHerman

# In this example, @sergeiandreyev owns any files in the
# .../sg13g2_pycell_lib/ihp directory and any of its subdirectories.
/ihp-sg13g2/libs.tech/xschem/ @abdur-rahman-dev
/ihp-sg13g2/libs.tech/qucs-s/ @abdur-rahman-dev
/ihp-sg13g2/libs.tech/ngspice/ @KrzysztofHerman
/ihp-sg13g2/libs.tech/xyce/ @KrzysztofHerman
/ihp-sg13g2/libs.tech/verilog-a/ @dwarning
/ihp-sg13g2/libs.tech/klayout/python/sg13g2_pycell_lib/ihp/ @sergeiandreyev
/ihp-sg13g2/libs.tech/klayout/tech/drc @Mauricio-xx
/ihp-sg13g2/libs.tech/klayout/tech/lvs @Mauricio-xx

