[submodule "ihp-sg13g2/libs.tech/digital"]
	path = ihp-sg13g2/libs.tech/digital
	url = https://github.com/hneemann/IHP130.git
[submodule "ihp-sg13g2/libs.tech/klayout/python/pycell4klayout-api"]
	path = ihp-sg13g2/libs.tech/klayout/python/pycell4klayout-api
	url = https://github.com/IHP-GmbH/pycell4klayout-api
[submodule "ihp-sg13g2/libs.tech/klayout/python/pypreprocessor"]
	path = ihp-sg13g2/libs.tech/klayout/python/pypreprocessor
	url = https://github.com/IHP-GmbH/pypreprocessor
