# =========================================================================================
# Copyright 2025 IHP PDK Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# =========================================================================================

* --- MOS Capacitance Extraction ---
.lib     {{ model_corner_lib }} {{ corner }}  

.control
  pre_osdi {{ osdi_path }}                
.endc

.temp {{ TEMP }}                           

.param W={{ W }}
.param L={{ L }}
.param AD={{ AD }}
.param AS={{ AS }}
.param PD={{ PD }}
.param PS={{ PS }}
.param NF={{ NF }}
.param M={{ M }}

.param VD={{ VD }}
.param VS={{ VS }}
.param VG={{ VG }}
.param VB={{ VB }}

Vd d 0 {VD}
Vs s 0 {VS}
Vg g 0 {VG}
Vb b 0 {VB}

XU1 d g s b {{ device_subckt }}
+ w={W} l={L} m={M} ng={NF} ad={AD} as={AS} pd={PD} ps={PS}

.control
  set filetype=ascii
  set wr_singlescale
  set wr_vecnames
  dc {{ sweep_src }} {{ sweep_start }} {{ sweep_stop }} {{ sweep_step }}
  
  let cgs = @n.xu1.{{ device_subckt }}[cgs]
  let cgd = @n.xu1.{{ device_subckt }}[cgd]
  let cgb = @n.xu1.{{ device_subckt }}[cgb]
  let cds = @n.xu1.{{ device_subckt }}[cds]
  let cdb = @n.xu1.{{ device_subckt }}[cdb]
  let csb = @n.xu1.{{ device_subckt }}[csb]
  let cox = @n.xu1.{{ device_subckt }}[cox]


  wrdata {{ out_path }} v({{ sweep_node }}) cgs cgd cgb cds cdb csb cox
  
  quit
.endc
.end